[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
codecov = "*"
black = "*"
pre-commit = "*"

[packages]
django = "*"
djangorestframework = "*"
python-decouple = "*"

[requires]
python_version = "3.7"
